@model IEnumerable<MultiTenancyAzureAD.Data.Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Tenant-A/Shared/_Layout.cshtml";
}

<h2>Departments</h2>
@Html.Partial("_Message")
@Html.ActionLink("Add New Department", "Add", "Department")
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@Html.ActionLink("Edit", "Update", new { id = item.Id }) | <a href="#" class="department-delete" id="delete-@item.Id-Btn" data-id="@item.Id" data-url="/Department/Delete">Delete</a></td>
            </tr>
        }
    </tbody>
</table>




